div { 
    background-color: pink;
    border: 1px solid black;
    width: 500px;
    height: 300px;
    padding: 20px;

    ul { 
        border: 1px solid black;
        height: 250px;
        background-color: blue;
    }
    

    ul li { 
        border: 1px solid black;
        padding: 20px 20px;
        margin-top: 10px;
        margin-right: 20px;
        list-style-type: none;
        text-transform: capitalize;
        background-color: aqua;
    }
}
